.product-skeleton-paragraph {
  .ant-skeleton-title {
    width: 95% !important;
    height: 25px !important;
  }
  .ant-skeleton-paragraph {
    margin-top: 19px !important;

    & > li {
      &:not(:first-child) {
        margin-top: 6px !important;
      }
      &:last-child {
        width: 90% !important;
      }
    }
  }
}

.product-drawer {
  .ant-drawer-header {
    display: none !important;
  }
  .ant-drawer-content-wrapper {
    box-shadow: none !important;
    width: 100% !important;
  }
}

.header-background {
  background-image: url('/assets/images/food-bg.jpeg');
  // background-repeat: no-repeat;
  background-size: cover;
}
